body{
    background-color: black;
    color:grey;
    text-align: justify
}

h1{
  text-align: center;
  color:#4286f4;
}

#mapa { height: 60vh;
//background-color: black}

p {
    padding:10px;
    text-indent: 2em;
}
