body
{
	margin:0;
	background-color: #2F3336;
	color:#efefef;
	font-family: 'Open Sans' , sans-serif;
	font-size:17px;
}
#logotyp
{
	background-image: url("img/cartographer.png");
	height:138px;
}

h1.logo
{
	font-size:44px;
	font-weight:700;
	color:#ddd;
	text-align: center;
	text-transform:uppercase;
	letter-spacing: 5px;
	margin-top:0px;
	margin-bottom:38px;
	line-height:132px;
}

nav
{
	background-color:#1c74b2;
	text-align:center;
	
}

.menu
{
	list-style-type:none;
	margin: 0px;
	padding:10px;
	font-size:18px;
	min-height:30px;
	line-height:200%;
}

.menu > li
{
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	border-right: 1px dashed #0a2b42;
}
.menu > li:first-child
{
	border-left:1px dashed #0a2b42;
}
.menu a
{
	color:#fff;
	text-decoration:none;
	
}.menu a:hover
{
	color:#0a2b42;
}

.categories
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:950px;
	padding:0;
}
h1
{
	font-size:34px;
	font-weight:400;
	color:#39a5f1;
	margin-bottom:20px;
}

.subject
{
	display:inline-block;
	width:300px;
}

.subject a
{
	opacity:0.9;
}

.subject a:hover
{
	opacity:1;
}

figure
{
	margin:8px;
	padding:0px;
}
{

}
.entries
{
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:950px;
	padding-top:10px;
	padding-bottom:80px;
	
}
#newest
{
	background-color:#191d21;
	
}
.entry
{
	background-color:#222930;
	padding:10px;
	text-align:justify;
	margin-top:40px;
	border-radius: 5px;
		
}
.entryimg
{
	display:inline-block;
	width:110px;
	margin-left:30px;
	
}

.entryimg img
{
	width:90px;
	height:90px;
}
.entrytxt
{
	display:inline-block;
	width:750px;
	font-size:15px;
}
h2
{
	font-size:20px;
	font-weight:400;
	color:#39a5f1;
}


a
{
	color:#fff;
	text-decoration:none;
	
}a:hover
{
	color:#ddd;
}

footer{
	text-align: center;
}

img {
	width:100%;
	height: 200px;
}
#pasek{
	background-color: black;
	align-content: flex-start | flex-end | center | space-between | space-around | stretch;
	z-index: 10
}